.key{
  display: inline-block;
  min-width: 20rem;
}

.value{
  display: inline;
}

.grid{
  display: grid;
  grid-template-columns: 20rem max-content auto;
  margin: 1rem 0;
}

p{
  margin: 0;
}

.educationalButton{
  margin: 1rem;
}

.schoolButton{
  display: none;
}

.schoolButtoHover{
  display: block;
}

.description{
  grid-column-start: 1;
  grid-column-end: 3;
}

textarea{
  width: 100%;
}

.descriptionText{
  max-width: 50rem;
  overflow-wrap: break-word;
}